In [ ]:
import pandas as pd

records = pd.read_csv('flights_2025.csv')
print(records)

In [13]:
records.describe()

,YEAR,MONTH_NUM,FLT_DEP_1,FLT_DEP_IFR_2,DLY_ATC_PRE_2,FLT_DEP_3,DLY_ATC_PRE_3
count,37343.0,37343.000000,37343.000000,6320.000000,6320.000000,19231.000000,19231.000000
mean,2025.0,2.509386,66.092333,148.058861,91.277057,53.877749,40.482034
std,0.0,1.125303,114.329166,110.846832,309.343365,81.984770,132.887208
min,2025.0,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,2025.0,1.000000,5.000000,70.000000,1.000000,4.000000,0.000000
50%,2025.0,3.000000,17.000000,110.000000,20.000000,19.000000,1.000000
75%,2025.0,4.000000,76.000000,210.000000,81.000000,70.000000,27.000000
max,2025.0,4.000000,790.000000,685.000000,9405.000000,580.000000,3698.000000

In [15]:
records['FLT_DEP_1'].value_counts()

FLT_DEP_1
2      2233
3      2043
1      1921
4      1843
5      1479
       ...
703       1
400       1
550       1
637       1
720       1
Name: count, Length: 712, dtype: int64

In [20]:
print(records.head())

   YEAR  MONTH_NUM MONTH_MON    FLT_DATE APT_ICAO       APT_NAME STATE_NAME  \
0  2025          1       JAN  2025-01-01     EBAW        Antwerp    Belgium
1  2025          1       JAN  2025-01-01     EBBR       Brussels    Belgium
2  2025          1       JAN  2025-01-01     EBCI      Charleroi    Belgium
3  2025          1       JAN  2025-01-01     EBLG          Li√®ge    Belgium
4  2025          1       JAN  2025-01-01     EBOS  Ostend-Bruges    Belgium

   FLT_DEP_1  FLT_DEP_IFR_2  DLY_ATC_PRE_2  FLT_DEP_3  DLY_ATC_PRE_3
0          4            NaN            NaN        1.0            0.0
1        216          216.0          154.0      151.0           97.0
2         94           94.0            0.0       87.0           58.0
3         17            NaN            NaN        1.0            0.0
4          4            NaN            NaN        1.0            0.0

In [21]:
print(records.isnull().sum())

YEAR                 0
MONTH_NUM            0
MONTH_MON            0
FLT_DATE             0
APT_ICAO             0
APT_NAME             0
STATE_NAME           0
FLT_DEP_1            0
FLT_DEP_IFR_2    31023
DLY_ATC_PRE_2    31023
FLT_DEP_3        18112
DLY_ATC_PRE_3    18112
dtype: int64

In [23]:
records_cleaned = records.dropna()

In [ ]:
record